.main{

position: relative;
}

.main::before{

content: "";
position: fixed;
inset: 0;

background-image: url(https://images.seeklogo.com/logo-png/64/2/google-developer-groups-logo-png_seeklogo-643102.png);

filter: blur(2.5px);
transform: scale(1);

z-index: -1;

}


.header {

display: flex;
justify-content: center;
align-items: center;
height: 25px;
width: 650px;
border: 5px solid transparent;
border-radius: 12px;

background-image: linear-gradient(white , white) , linear-gradient(to left , black , grey);
background-clip: padding-box , border-box;

}

.container{

display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 10px;

}


.box-1 , .box-2 , .box-3 , .box-4 , .box-5 , .box-6 {

display: flex;
justify-content: center;
align-items: center;
border: 2px solid ;
border-radius: 1px;
border-color: black;
height: 100px;
width: 100px;
padding: 10px;
box-shadow: 10px 10px 10px grey;
}

.box-1{

background-image: linear-gradient(to right , pink , magenta , purple);


}

.box-2{

background-image: linear-gradient(to right , red , orange  , yellow);


}

.box-3{

background-image: linear-gradient(to right , blue  , cyan  , lightblue );

}

.box-4{

background-image: linear-gradient(to right , darkgreen , green ,lightgreen );


}

.box-5{

background-image: linear-gradient(to right , maroon , brown  , rgba(194, 128, 5, 0.93));


}

.box-6{

background-image: linear-gradient(to right , rgb(238, 210, 177) , rgb(250, 230, 191)  , white );


}

.box-1:hover,
.box-2:hover,
.box-3:hover,
.box-4:hover,
.box-5:hover,
.box-6:hover{

transform: translateY(8px);


}